---
interface Props {
  image: string;
}

const { image } = Astro.props;
---

<div class="relative">
  <img
    src={image}
    alt="Sergio Alex"
    class="max-w-full block sm:min-w-[320px] md:min-w-[480px]"
    loading="lazy"
  />
</div>
