---
import MainLayout from '@/layouts/MainLayout.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '@/lib/constances';

const lang: string = 'en';
---

<MainLayout lang={lang} title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1>About Me</h1>
	<p>Write something about yourself here.</p>
</MainLayout>
