---
import Layout from '../../layouts/main.astro';

const lang: string = 'es';
---

<Layout title="Libros" lang={lang}>
  <section class="relative z-20 max-w-2xl mx-auto my-10 px-7 lg:px-0">
    <div class="content mt-10">
      <h2 class="font-laomn small-caps text-neutral-600 text-3xl font-bold text-center mb-12">
        Tener un cuerpo es mala poesía
      </h2>
      <div class="flex flex-col md:flex-row gap-8 items-start mb-16">
        <!-- Left column - Book cover -->
        <div class="w-full md:w-1/2">
          <img src="/assets/images/books/book-1.png" alt="Portada del libro" class="w-full h-auto shadow-lg" />
        </div>

        <!-- Right column - Book content -->
        <div class="w-full md:w-1/2">
          <div class="space-y-4">
            <div class="mb-7">
              <p class="text-neutral-600"><b>Premio Internacional de Poesía Emilio Prados (2024)</b></p>
            </div>
            <p class="text-gray-700 leading-relaxed">
              Niños arrancándose pelos entre sí, los Simpson, besos con extraños, gritos en la casa… Este libro es una
              intermitencia de relámpagos biográficos. Aquí, la literatura ilumina un cuerpo, lo oscurece y lo vuelve a
              iluminar. Pasado y presente, placer y dolor, confesión y burla de esa confesión; leer estos poemas es ser
              arrastrado por un vaivén de imágenes inusitadas. Para escribir su historia, el autor se sirve de recursos
              aparentemente ajenos a la poesía, porque sabe que no hay nada ajeno a ella.
            </p>

            <div>
              <p class="font-laomn small-caps text-2xl w-full text-center font-bold text-red-700 mb-2 tracking-wide">
                Comprar
              </p>
              <div class="flex flex-row gap-4 mt-6 items-center justify-center">
                <a
                  href="https://libreriasiglo.com/245809-tener-un-cuerpo-es-mala-poesia"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="font-laomn inline-block px-8 py-2 bg-red-600 text-white font-serif font-semibold transition hover:bg-red-700 text-center shadow"
                >
                  Colombia
                </a>
                <a
                  href="https://pre-textos.com/producto/tener-un-cuerpo-es-mala-poesia/"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="font-laomn inline-block px-8 py-2 bg-red-600 text-white font-serif font-semibold transition hover:bg-red-700 text-center shadow"
                >
                  Otros países
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="font-laomn small-caps text-neutral-600 text-3xl font-bold text-center mb-12">
        Coordenadas de un plano irrealizable
      </h2>
      <div class="flex flex-col md:flex-row gap-8 items-start mb-10">
        <!-- Left column - Book cover -->
        <div class="w-full md:w-1/2">
          <img src="/assets/images/books/book-2.png" alt="Portada del libro" class="w-full h-auto shadow-lg" />

          <div class="mt-6">
            <p class="font-laomn small-caps text-2xl w-full text-center font-bold text-red-700 mb-2 tracking-wide">
              Comprar
            </p>
            <div class="flex flex-row gap-4 mt-6 items-center justify-center">
              <a
                href="https://libreriasiglo.com/119664-coordenadas-de-un-plano-irrealizable"
                target="_blank"
                rel="noopener noreferrer"
                class="font-laomn inline-block px-8 py-2 bg-red-600 text-white font-serif font-semibold transition hover:bg-red-700 text-center shadow"
              >
                Colombia
              </a>
              <a
                href="https://pre-textos.com/producto/coordenadas-de-un-plano-irrealizable/"
                target="_blank"
                rel="noopener noreferrer"
                class="font-laomn inline-block px-8 py-2 bg-red-600 text-white font-serif font-semibold transition hover:bg-red-700 text-center shadow"
              >
                Otros países
              </a>
            </div>
          </div>
        </div>

        <!-- Right column - Book content -->
        <div class="w-full md:w-1/2">
          <div class="space-y-4">
            <div class="space-y-2 mb-7">
              <div>
                <p class="text-neutral-600">
                  <b>Premio de Poesía Joven Radio Nacional de España-Fundación Montemadrid (2021)</b>
                </p>
              </div>
              <div>
                <p class="text-neutral-600">
                  <b>Finalista del Premio Nacional de Poesía del Ministerio de Cultura de Colombia (2023)</b>
                </p>
              </div>
            </div>

            <div class="space-y-4">
              <div class="">
                <p class="">
                  "En este libro la poesía es un animal que se asoma a la gruta de la boca para buscar la palabra que
                  falta para hacer la casa y que seguirá faltando para que la literatura no se extinga".
                </p>
                <p class="mt-2">—Gina Saraceni</p>
              </div>

              <div>
                <p>
                  "Sebastián Martínez Vanegas ha escrito uno de los libros más singulares de la poesía que leemos
                  recientemente en Colombia".
                </p>
                <p class="mt-2">—David Marín-Hincapié</p>
              </div>

              <div>
                <p>
                  "Con escasos 27 años, el autor, con lenguaje que anuda enigmatismo y alta precisión, construye a
                  partir del agrietamiento y desplome de la casa una perpleja metáfora del desamparo y la ruina del
                  mundo como morada, y de la propia voz agrietada que lo nombra".
                </p>
                <p class="mt-2">
                  —Declaraciones sobre los finalistas del Premio Nacional de Poesía del Ministerio de Cultura de
                  Colombia
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
