---
import Layout from '../../layouts/main.astro';
import ContactForm from '../../components/contact-form.svelte';

const lang: string = 'es';
---

<Layout title="Contacto" lang={lang}>
  <section class="relative z-20 max-w-xl mx-auto my-12 px-7 lg:px-0">
    <h1 class="font-laomn small-caps text-neutral-600 text-3xl font-bold text-center mb-2">Contacto</h1>
    <p class="text-center text-gray-500 mb-2 max-w-2xl mx-auto">
      Escríbeme para proponerme algo, o para no proponerme nada, o para saludar:
    </p>
    <p class="text-center mb-4">
      <a href="mailto:sebastianmvanegas@gmail.com" class="text-black underline font-medium"
        >sebastianmvanegas@gmail.com</a
      >
    </p>
    <ContactForm client:load lang={lang} />
  </section>
</Layout>
