# Sentry
SENTRY_DSN=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=

# Google Analytics
PUBLIC_GA_TRACKING_ID=

# Mixpanel
PUBLIC_MIXPANEL_TOKEN=

# Contact Form (Google Forms)
PUBLIC_GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLScuGSujpXLKF5eS4Z_6ZGAYf6j1iPrOIHwtJ-3i1_7MGk466Q/formResponse
PUBLIC_GOOGLE_FORM_ENTRY_NAME=entry.1008715654
PUBLIC_GOOGLE_FORM_ENTRY_EMAIL=entry.903587259
PUBLIC_GOOGLE_FORM_ENTRY_REASON=entry.677814908
PUBLIC_GOOGLE_FORM_ENTRY_SUBJECT=entry.1738397177
PUBLIC_GOOGLE_FORM_ENTRY_MESSAGE=entry.110815800